<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tab/admin">ย้อนกลับ</a>
    <h1 class="title">เพิ่มผู้ดูแลระบ</h1>
    <a class="button button-icon icon ion-person-add" href="#/tab/admin-create"></a>
  </ion-header-bar>
  <ion-content class="padding">

    <form ng-submit="createAdmin()">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="adminData.admin_user">
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" ng-model="adminData.admin_password">
        </label>


        <label class="item item-input">
          <button class="button button-block button-positive" type="submit">เพิ่มข้อมูล</button>
        </label>


      </div>
    </form>









  </ion-content>
</ion-view>
